<header>
    <h1>{{ title }}</h1>
    <app-button 
    *ngIf="hasRoute('/')"
    color="{{showAddTask ? 'maroon' : 'green'}}" 
    text="{{showAddTask ? 'Close Window' : 'Add Task'}}"
    (btnClick)="toggleAddTask()"></app-button>
</header>