<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class = "form-control">
        <label for = "text">Task</label>
        <input type = "text" name="text" [(ngModel)]="text" id="text" placeholder="Add new Task"/>
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add Day & Time"/>
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder"/>
    </div>
    <input type="submit" value="Save Task" class="btn btn-block" style = "color: greenyellow">
</form>
